html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  font-family: "Raleway", sans-serif;
}

body {
  padding: 0;
}

.header__mainPage {
  background-image: url(./assets/home/home-1.jpeg);
  background-size: cover;
  height: 100vh;
}

.header__contact {
  background-image: url(./assets/contact/contact-1.jpeg);
  background-size: cover;
  height: 65vh;
}

.header__blog {
  background-image: url(./assets/blog/blog-1.jpeg);
  background-size: cover;
  height: 62vh;
}

h1,
.header__nav {
  margin: 15px 0 0 0;
  text-transform: uppercase;
}

h1 {
  font-size: 46px;
  line-height: 24px;
  letter-spacing: 1.1px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  padding: 17px;
  font-size: 17px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.5px;
}

a:hover {
  color: #64a604;
}

.header__wrapper {
  max-width: 1850px;
  width: 95%;
  margin: 0 auto;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav--shopping {
  position: relative;
}

.main__popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.main__image1,
.main__text1 {
  width: calc(100% / 2);
}

.main__image1 img {
  width: 100%;
}

h2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: 1.1px;
}

p {
  color: #666666;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.main__text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

.main__text1 p {
  width: 69%;
  text-align: center;
  margin-top: 45px;
  padding: 20px 0 30px 0;
}

.main__text1 a {
  background: #64a604;
  color: white;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 50px;
}

.main__text1 a:hover {
  background: white;
  color: #64a604;
  padding: 9px 49px;
  border: 1px solid #64a604;
}

.green__line {
  border-bottom: 4px solid #64a604;
  width: 8%;
}

.main__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f6;
}

.main__image2,
.main__text2 {
  width: calc(100% / 2);
}

.main__image2 img {
  width: 100%;
}

.main__text2 {
  margin-top: 150px;
}

.main__text2 ul {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 1.6fr 0.3fr 1.6fr;
      grid-template-columns: 0.3fr 1.6fr 0.3fr 1.6fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 45px 10px;
}

.main__text2 h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 19px;
  line-height: 36px;
  letter-spacing: 0.5px;
  margin: 0;
}

.main__text2 p {
  color: #999999;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-top: 0;
}

.main__text2 i {
  font-size: 35px;
  color: #333333;
}

.main__ourResto {
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__ourResto__image {
  position: relative;
  margin-top: 110px;
}

.main__ourResto__seal {
  position: absolute;
  top: -117px;
  right: -80px;
}

.main__ourResto__text {
  text-align: center;
}

.main__ourResto__text p {
  width: 60%;
  margin: 0 auto;
  color: #999999;
  margin-top: 30px;
}

.main__ourResto__text h2 {
  padding-top: 50px;
}

.green__line2 {
  border-bottom: 4px solid #64a604;
  width: 5%;
  margin: 0 auto;
}

.main__gallery__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__gallery__flex li {
  width: calc(100% / 3);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.main__gallery__flex img {
  width: 100%;
  display: block;
}

.main__testimony {
  height: 75vh;
  background: #dded9a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__testimony p {
  width: 50%;
  margin: 0 auto;
  font-family: "Lora", serif;
  color: #000000;
  text-align: center;
  font-style: italic;
  font-size: 23px;
  line-height: 36px;
  letter-spacing: 0.6px;
  padding-top: 50px;
}

.main__testimony__quote {
  position: relative;
}

.main__testimony__quote i {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
}

.main__testimony__quote .left {
  top: 35px;
  left: 375px;
}

.main__testimony__quote .right {
  top: 125px;
  right: 375px;
}

.green__line3 {
  border-bottom: 4px solid #64a604;
  width: 4%;
  margin: 0 auto;
}

.main__testimony__chevron {
  color: white;
  font-size: 28px;
}

.main__testimony__chevron i {
  padding: 100px 20px 20px 20px;
}

.main__testimony__chevron i:hover {
  color: #64a604;
}

p {
  margin: 0;
}

.contact__container {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__container h2 {
  font-size: 24px;
}

.contact__form__wrapper {
  width: 62%;
}

.contact__form {
  width: 70%;
  float: right;
  margin-right: 7px;
}

.contact__form input[type="text"],
.contact__form input[type="email"],
.contact__form textarea {
  font-family: "Lora", serif;
  font-size: 14px;
  background: #f6f6f6;
  color: #535353;
  border: none;
  margin: 15px;
}

.contact__form h2 {
  margin: 0 0 45px 15px;
  color: #2e2e2e;
}

.contact__form button {
  margin-left: 15px;
  margin-top: 5px;
  border: none;
  background: white;
  color: #64a604;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.3px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.contact__form button:hover {
  color: white;
  background: #64a604;
}

.contact__form i {
  font-size: 20px;
  padding-left: 10px;
}

.short {
  padding: 19px 17px 19px 17px;
  width: 45.5%;
}

.long {
  padding: 19px 17px 19px 17px;
  width: 95%;
}

.contact__txtArea {
  padding: 19px 14px 50px 14px;
  resize: none;
  width: 95%;
}

.contact__aside {
  width: 40%;
  height: 100%;
  background-color: #f6f6f6;
}

.contact__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 40px;
  width: 40%;
}

.contact__details h5 {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.5px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #2e2e2e;
}

.contact__details h2 {
  margin-top: 100px;
  color: #333333;
}

.contact__details__top {
  margin: 40px 0 65px;
}

.contact__working {
  font-family: "Lora", serif;
}

.contact__working span {
  color: #2e2e2e;
  font-size: 13px;
}

.contact__working .contact__hours {
  font-size: 14px;
  margin-top: 10px;
}

.contact__smText,
.contact__smText2 {
  color: #999999;
  font-size: 13px;
}

.italic {
  font-style: italic;
}

.contact__info {
  margin: 60px 0 10px;
}

.contact__smText2 {
  margin-top: 25px;
}

.contact__bottomImage {
  height: 65vh;
  background-image: url(./assets/contact/contact-2.jpeg);
  background-size: cover;
}

.blog__wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 61%;
}

h2,
h3,
h5,
span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.blog__title {
  margin-top: 195px;
}

.blog__title h2 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 700;
}

.blog__smText {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  color: black;
  letter-spacing: 0.6px;
  line-height: 24px;
  margin-bottom: 40px;
}

.blog__post {
  margin-bottom: 30px;
  font-size: 16px;
}

.blog__post:last-child {
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

.blog__tags span {
  font-weight: 700;
  font-size: 14px;
  color: #2e2e2e;
}

.blog__tags p,
.blog__tags a {
  padding: 0 2px;
  font-size: 15px;
  color: #999999;
  margin-bottom: 20px;
}

.blog__tags i {
  padding: 0 15px;
}

.blog__tags a:hover,
.blog__tags i:hover {
  color: #64a604;
}

.blog__tags:last-child {
  margin-bottom: 45px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

.blog__writer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

.blog__writer__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
  margin-left: 30px;
  padding: 0 35px;
}

.blog__writer__comment h5 {
  color: #2e2e2e;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.blog__writer__comment p {
  line-height: 26px;
  letter-spacing: 0.4px;
}

.blog__related--head {
  color: #2e2e2e;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.7px;
  margin-bottom: 20px;
}

.blog__related {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

.blog__related__container h3 {
  color: #2e2e2e;
  margin-top: 25px;
  margin-bottom: 0;
}

.blog__related__container p {
  font-size: 13px;
  color: #999999;
  padding-bottom: 35px;
}

.blog__related__container a {
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 11px;
  color: #2e2e2e;
}

.blog__related__container img {
  width: 100%;
}

.blog__comments h5 {
  font-size: 14px;
  letter-spacing: 0.6px;
  color: #2e2e2e;
  margin: 40px 0;
}

.blog__comments--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.blog__comments--container p {
  color: #2e2e2e;
}

.blog__comments--container .blog__comments__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
  margin-left: 30px;
  padding: 8px 22px;
  position: relative;
}

.blog__comments--container .blog__comments--post {
  font-size: 15px;
}

.blog__comments--arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f6f6f6;
  position: absolute;
  top: 10px;
  left: -10px;
}

.blog__comments__name {
  font-size: 14px;
}

.blog__comments__name span {
  color: #2e2e2e;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 36px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.blog__comments--date {
  font-family: "Raleway", sans-serif;
  font-size: 11px;
  font-weight: 700;
  margin-top: 10px;
}

.blog__leave {
  margin-bottom: 170px;
}

.blog__leave h5 {
  margin-top: 40px;
  font-size: 15px;
  letter-spacing: 0.6px;
  color: #2e2e2e;
}

.blog__leave p {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  margin: 7px 0 20px;
}

.blog__comment--container input[type="text"],
.blog__comment--container input[type="email"],
.blog__comment--container textarea {
  font-family: "Lora", serif;
  font-size: 14px;
  background: white;
  color: #535353;
  border: 1px solid #d3d2d2;
  resize: none;
}

.blog__comment--container button {
  margin-top: 15px;
  padding: 10px 30px;
  border: none;
  background: #64a604;
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.3px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.blog__comment--container button:hover {
  color: #64a604;
  background: white;
  padding: 9px 29px;
  border: 1px solid #64a604;
}

.blog__form input {
  padding: 17px 0 17px 17px;
  width: calc(100% / 3 - 10px);
}

.blog__form input:nth-of-type(2) {
  margin: 0 10px;
}

.blog__form textarea {
  margin-top: 18px;
  width: 100%;
  padding: 17px 0 0 17px;
}

footer {
  font-family: "Raleway", sans-serif;
}

.footer__wrapper {
  max-width: 1600px;
  width: 75%;
  margin: 0 auto;
}

h4,
h5,
ul {
  margin: 0;
  padding: 0;
}

.footer__page {
  background-color: #333333;
  height: 55vh;
}

.footer__container {
  padding-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__container h5 {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.footer__contact,
.footer__post,
.footer__subscribe {
  width: 33%;
  padding: 0 100px;
}

.footer__contact h4 {
  font-size: 40px;
  text-transform: uppercase;
  color: #64a604;
  line-height: 44px;
  letter-spacing: 0.3px;
}

.footer__page li,
.footer__page p,
.footer__page a {
  font-family: "Lora", serif;
  color: #999999;
  font-size: 14px;
  margin: 0;
  padding: 3px 0;
}

.footer__page a:hover {
  color: #64a604;
}

.footer__posts h5 {
  padding-bottom: 30px;
}

.footer__contact h4 {
  padding-bottom: 25px;
}

.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__address .item1 {
  padding-bottom: 25px;
  line-height: 25px;
}

.footer__address li {
  padding: 10px 0px;
}

.footer__subscribe h5 {
  padding-bottom: 35px;
}

.footer__subscribe .sub__text {
  padding: 20px 0;
  line-height: 25px;
}

.footer__form input[type="text"] {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 14px;
  background: #535353;
  color: #c5c5c5;
  border: none;
  padding: 13px 20px;
}

.footer__form button {
  border: none;
  background: #64a604;
  color: white;
  padding: 10.5px 15px;
  font-size: 20px;
  position: absolute;
}

.footer__form button:hover {
  color: #64a604;
  background: white;
}

.footer__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  border-top: 1px solid rgba(153, 153, 153, 0.5);
}

.footer__social li {
  color: white;
  font-size: 17px;
  padding: 10px 20px 10px 0;
}

.footer__social li:hover {
  color: #64a604;
}

.btm__border {
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
}

.copyright {
  background-color: #2e2e2e;
  height: 7vh;
  font-family: "Raleway", sans-serif;
  line-height: 44px;
  letter-spacing: 0.3px;
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright p {
  font-size: 13px;
  margin: 0;
  padding-left: 370px;
}

.copyright span {
  color: #64a604;
  text-transform: uppercase;
}

@media (max-width: 1130px) {
  .header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 500px) {
  .header__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1745px) {
  .main__text2 {
    margin-top: 100px;
  }
  .main__testimony__quote p {
    width: 40%;
  }
}

@media (max-width: 1550px) {
  .main__text2 {
    margin-top: 50px;
  }
}

@media (max-width: 1400px) {
  .main__text2 {
    margin-top: 10px;
  }
  .main__testimony__quote .left {
    left: 350px;
  }
  .main__testimony__quote .right {
    right: 350px;
  }
}

@media (max-width: 1370px) {
  .main__text2 {
    margin-top: 100px;
  }
  .main__text2 ul {
    gap: 90px 10px;
  }
  .main__text2 p {
    display: none;
  }
  .main__text2 i:hover,
  .main__text2 h3:hover {
    color: #64a604;
  }
}

@media (max-width: 1300px) {
  .main__testimony__quote .left,
  .main__testimony__quote .right {
    display: none;
  }
}

@media (max-width: 1090px) {
  .main__text2 {
    margin-top: 50px;
  }
  .main__text1 p {
    margin-top: 0;
    padding-bottom: 15px;
  }
}

@media (max-width: 945px) {
  .main__gallery__flex li {
    width: calc(100% / 2);
  }
  .main__popular {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main__image1,
  .main__text1 {
    width: 100%;
  }
  .main__text1 {
    padding-bottom: 30px;
  }
  .main__select {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main__image2,
  .main__text2 {
    width: 100%;
  }
  .main__text2 {
    margin-bottom: 70px;
    padding-left: 80px;
  }
  .main__text2 ul {
    gap: 60px 10px;
  }
  .main__text2 i,
  .main__text2 h3 {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  .main__testimony__quote p {
    padding-top: 15px;
    font-size: 20px;
    width: 60%;
  }
  .main__testimony__chevron i {
    padding: 40px 20px 20px 20px;
  }
}

@media (max-width: 700px) {
  .main__text2 i,
  .main__text2 h3 {
    font-size: 24px;
  }
  .main__ourResto {
    height: 75vh;
  }
  .main__ourResto__text h2 {
    padding-top: 0;
  }
  .main__ourResto__image {
    margin-top: 10px;
  }
  .main__ourResto__seal {
    display: none;
  }
}

@media (max-width: 588px) {
  .main__text2 {
    padding-left: 0;
  }
  .main__text2 i,
  .main__text2 h3 {
    font-size: 18px;
  }
  .main__ourResto__image {
    display: none;
  }
  .main__ourResto {
    height: 60vh;
  }
}

@media (max-width: 400px) {
  .main__text1 h2 {
    font-size: 26px;
  }
  .main__gallery__flex li {
    width: 100%;
  }
  .main__testimony__quote p {
    font-size: 18px;
    width: 80%;
  }
}

@media (max-width: 1687px) {
  .short {
    width: 95%;
  }
}

@media (max-width: 1268px) {
  .contact__form {
    width: 90%;
  }
  .contact__details {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .contact__form {
    width: 100%;
  }
  .contact__details {
    width: 90%;
  }
}

@media (max-width: 712px) {
  .contact__details__top {
    margin: 20px 0 40px;
  }
  .contact__info {
    margin: 5px 0 10px;
  }
  .contact__smText2 {
    margin-top: 10px;
  }
}

@media (max-width: 700px) {
  .contact__container {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__form__wrapper {
    width: 100%;
  }
  .contact__aside {
    width: 100%;
  }
  .contact__details h2 {
    margin-top: 35px;
  }
  .contact__form h2 {
    margin: 20px 0 0px 15px;
  }
  .contact__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 1300px) {
  .blog__wrapper {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .blog__related {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 700px) {
  .blog__form input {
    width: calc(100%);
  }
  .blog__form input:nth-of-type(2) {
    margin: 0;
  }
  #userName,
  #userEmail {
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  .blog__writer__image {
    margin-bottom: 40px;
  }
  .blog__writer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog__wrapper {
    width: 95%;
  }
}

@media (max-width: 492px) {
  .blog__title h2 {
    font-size: 30px;
  }
}

@media (max-width: 1650px) {
  .footer__wrapper {
    width: 90%;
  }
}

@media (max-width: 1280px) {
  .footer__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__contact,
  .footer__subscribe {
    padding: 0 25px;
  }
}

@media (max-width: 1000px) {
  .footer__wrapper {
    width: 98%;
  }
}

@media (max-width: 900px) {
  .footer__posts {
    display: none;
  }
  .footer__contact,
  .footer__subscribe {
    width: 50%;
  }
  .copyright p {
    padding-left: 20px;
  }
}

@media (max-width: 600px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__wrapper .footer__contact,
  .footer__wrapper .footer__subscribe {
    width: 100%;
  }
  .footer__container {
    padding-top: 20px;
  }
  .footer__subscribe h5 {
    padding: 0;
  }
}

@media (max-width: 456px) {
  .footer__contact h4 {
    padding: 0;
  }
}
